@import 'mixins';

//@import 'jspm:voya-base-styles/scss/voya-base';
@import "../jspm_packages/voya-github/Voya/deep-ui-voya-base-styles@2.4.2/scss/voya-base";

$ProximaPath: "/static/public/fonts/proxima";
@include voya-fonts-proxima($ProximaPath);
$fa-font-path: '/static/public/fonts/font-awesome';
@import '../jspm_packages/npm/font-awesome@4.6.3/scss/font-awesome';

//currently can only use shorthand jspm: syntax for first-level dependencies
@import '../jspm_packages/voya-github/Voya/deep-ui-voya-button@5.1.0/voya-button';
@import '../jspm_packages/voya-github/Voya/deep-ui-voya-header@develop/voya-header';
@import '../jspm_packages/voya-github/Voya/deep-ui-voya-indicator@2.0.0/voya-indicator';


//TODO: THESE THREE LINES SEEM TO BE CAUSING THE SASS COMPILER TO FAIL!
//TODO: harcoded jspm paths is not ideal but needed until we move to JSPM 17
//@import "../../jspm_packages/voya-github/Voya/deep-ui-voya-main-nav@develop/voya-main-nav";
//@import "../../jspm_packages/voya-github/Voya/deep-ui-voya-top-nav@develop/voya-top-nav";
//@import "../../jspm_packages/voya-github/Voya/deep-ui-voya-mobile-nav@develop/voya-mobile-nav";

@import '../jspm_packages/voya-github/Voya/deep-ui-voya-footer@2.5.1/voya-footer';
@import '../jspm_packages/voya-github/Voya/deep-ui-voya-field@2.x.x/all';
@import '../jspm_packages/voya-github/Voya/deep-ui-voya-field@2.x.x/select';
@import '../jspm_packages/voya-github/Voya/deep-ui-voya-tooltip@2.6.2/voya-tooltip';

// fonts
@include voya-fonts-proxima('../../../static/global/fonts/proxima');

body{
  max-width: 1080px;
  margin: 0 auto !important;
  float: none !important;
}

.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.pictureDetail {
  max-width: 425px;
}

/* animate page transitions */
section.au-enter-active {
  -webkit-animation: fadeInRight 1s;
  animation: fadeInRight 1s;
}

div.au-stagger {
  /* 50ms will be applied between each successive enter operation */
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}

.card-container.au-enter {
  opacity: 0 !important;
}

.card-container.au-enter-active {
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #337ab7;
  color: rgb(136, 172, 217);
  margin-bottom: 32px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.card .content {
  margin-top: 10px;
}

.card .content .name {
  color: white;
  text-shadow: 0 0 6px rgba(0, 0, 0, .5);
  font-size: 18px;
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  border-radius: 6px 6px 0 0;
}

.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px #FFF solid;
}

/* animation definitions */
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fa-spinner:before {
  content: ""; }

#chat-widget-encapsulator {
  display:none;
}
