#u378 {
  position: relative;
  /*left: 156px;
  top: 530px;*/
  width: 100%;
  height: 100%;
  font-family: 'ProximaNova-Regular', 'Proxima Nova';
  font-weight: 400;
  font-style: normal;
  font-size: 9px;
  color: #666666;
  text-align: center; }

#u372 {
  position: relative;
  text-align: center; }

.form-group {
  margin-bottom: 15px;
  width: 100%; }
